<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="keywords" content="IUT, E-voting, Election, elecronic voting">
	<meta name="description" content="an E-voting System hosted by IUT">
	<meta name="author" content="Milad Golgolnia">
	<!--	<meta http-equiv="refresh" content="3">	-->
	

	<title>IUT E-Voting</title>
	<link rel="stylesheet" href="../styles/global.css">
</head>
<body>


	<div id="notification"></div>

	<noscript>Please enable javascript to use the system.</noscript>

	<div id="content-frame">
		<p>
			milad
		</p>
	</div>

	<small>
	<address>
		Designed by: <em>Milad Golgolnia</em>
		<br>
		Email: <a href="mailto:golgolniamilad@gmail.com" alt="Gmail Address" title="contact me">
				golgolniamilad@gmail.com
			   </a>
	</address>
	</small>
</body>
</html>
